:root {
    --Color-Font-MusicEmphasis: white;
    --box-background: #F27127;
    --Box-Shadow: #311C10;
    --Font-Color-Popup: black;
}

.MusicEmphasis {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.MusicEmphasis h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    color: var(--Color-Font-MusicEmphasis);
    margin-bottom: 4rem;
    margin-top: 4rem;
}

.Musics {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    margin: 2rem;
    scroll-behavior: smooth;
}

.Musics h2 {
    color: var(--Color-Font-MusicEmphasis);
    font-size: 2rem;
    margin: 4rem;
}

.Musics p {
    color: var(--Color-Font-MusicEmphasis);
    font-size: 2rem;
    display: flex;
    padding: 2rem;
}

.BoxMusics {
    display: flex;
    align-items: center;
    justify-items: center;
    flex-direction: column;
    background-color: var(--box-background);
    width: 25.5rem;
    height: 36.188rem;
    border-radius: 2.813rem;
    border-bottom: 0rem solid var(--Box-Shadow);
    border-left: 0rem solid var(--Box-Shadow);
    transition: all 0.3s ease;
    animation-fill-mode: forwards;
}

@keyframes shake {
    0% { transform: perspective(100rem) rotatey(10deg) rotateX(-10deg); }
    50% { transform: perspective(100rem) rotatey(-10deg) rotateX(-10deg); }
    100% { transform: perspective(100rem) rotatey(-10deg) rotateX(-10deg); }
}

.BoxMusics:hover {
    animation-name: shake;
    animation-duration: 10s;
    animation-direction: alternate;
}

.BoxMusics img {
    width: 10rem;
    height: 10rem;
}

.popup-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--Font-Color-Popup);
    border-radius: 0.8rem; 
    width: 30rem;
    background-color: var(--box-background);
    border: 0.1rem solid;
}

.popup-content h2 {
    margin: 1rem;
    font-size: 2rem;
    color: var(--Color-Font-MusicEmphasis);
}

.popup-content ul {
    list-style-type: none; 
}

.popup-content li {
    padding: 1rem; 
    border-bottom: 0.1rem solid var(--Font-Color-Popup); 
    font-size: 1rem;
    color: var(--Color-Font-MusicEmphasis);
}

.popup-content button {
    margin-top: 1.5rem; 
    width: 8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2rem;
    background-color: #007BFF; 
    color: var(--Color-Font-MusicEmphasis); 
    border: none; 
    border-radius: 0.5rem; 
    cursor: pointer;
}

.popup-content button:hover {
    background-color: #0056b3; 
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
    z-index: 1000;
}