* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html, body {
  width: 100%;
  height: 100%;
  background-color: var(--background-page);
}

:root {
  --background-page: #402414;
}
